[submodule "badgers/vendor/feather"]
	path = badgers/vendor/feather
	url = https://github.com/feathericons/feather.git
[submodule "badgers/vendor/cssgg"]
	path = badgers/vendor/cssgg
	url = https://github.com/astrit/css.gg.git
[submodule "badgers/vendor/eva"]
	path = badgers/vendor/eva
	url = https://github.com/akveo/eva-icons.git
