name: Dependency Checks

on:
  pull_request:
  push:
    branches:
    - main

jobs:
  cargo-deny:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
    - uses: EmbarkStudios/cargo-deny-action@v1
